{% extends "base.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}
    <h2>Accounts</h2>
    <table>
        <tr>
            <th>Account ID</th>
            <th>Customer</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Branch</th>
            <th>City</th>
            <th>Transactions</th>
        </tr>
        {% for a in accounts %}
        <tr>
            <td>{{ a.account_id }}</td>
            <td>{{ a.customer_name }}</td>
            <td>{{ a.account_type }}</td>
            <td>{{ a.balance }}</td>
            <td>{{ a.branch_name }}</td>
            <td>{{ a.city }}</td>
            <td><a href="{{ url_for('transactions', account_id=a.account_id) }}">View</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
